GdvLabel {
    color: #ffffff;
    font-size: 8px;
}

Gdv2dView {
    background-color: #34405f;
    -Gdv2dView-custom-property: 210.1px;
}

Gdv2dStaticLayer {
/*    -GdvLayer-rmargin: 0.7;
    -GdvLayer-lmargin: 0.3;
    -GdvLayer-tmargin: 0.3;
    -GdvLayer-bmargin: 0.7%;*/
}

GdvLinearAxis {
/*    -GdvAxis-axis-color: #ff0000;
    -GdvAxis-axis-line-width: 5.0px;
    -GdvAxis-tics-color: #00ff00;
    -GdvAxis-tics-line-width: 2.0px;
    -GdvAxis-mtics-color: #0000ff;
    -GdvAxis-mtics-line-width: 3.0px;*/
    color: #ffffff;
/*    font-size: 8; */
    font-size: 8px;
/*    -GdvAxis-tics-out-length: 0.0px; */
}
